  <h1>Formulario de carga de productos</h1>
  <hr>
    <form action="/api/productos"  method="POST">
        <label for="title">Product title:</label><br>
        <input type="text" name="title"><br>
        <label for="price">Product price:</label><br>
        <input type="number" step="0.01" name="price"><br>
        <label for="thumbnail">Product thumbnail:</label><br>
        <input type="text" name="thumbnail"><br><br>
        <input type="submit" value="Guardar nuevo producto">
    </form>
    <br>
    <br>
    <form action="/api/productos/tabla"  method="get">
    <input type="submit" value="Ir a la tabla de productos">
     </form>