  <h1>Formulario de carga de productos</h1>
  <hr>
    <form onsubmit="return enviarProducto()"> 
        <label for="title">Product title:</label><br>
        <input type="text"  id="title"><br>
        <label for="price">Product price:</label><br>
        <input type="number" step="0.01"  id="price"><br>
        <label for="thumbnail">Product thumbnail:</label><br>
        <input type="text"  id="thumbnail"><br><br>
        <button type="submit">Guardar nuevo producto</button>
    </form>
    <br>
    <br>
   

   <div id="tabla">
       <table border="1">
        <caption></caption>
        <tbody>
          <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Price</th>
          <th>Thumbnail</th>
          </tr>
           
        </tbody>
      </table>
    </div>
     <div id="products"></div>
   
    

    <br>
    <br>
    <br>

   <div id="messages"></div>
    <form onsubmit="return enviarMensaje()">
      <input type="text" id="author"/>
      <input type="text" id="text"/>
      <button type="submit">Enviar mensaje</button>
    </form>